<!DOCTYPE html>
<html lang="en">
  <head>
    <title>riftsettler</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib//bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script  type="text/javascript" src="js/group1.js"></script>
    <script  type="text/javascript" src="js/common.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"> 

  </head>

  <style>
        body {
            font-family: 'Aclonica';
        }
        </style>
      <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3 class="alert alert-danger well1">Enter the expences</h4>
                  </div>
                  <div class="modal-body">
                      <input type="text" class="col-xs-6 input" id="item" placeholder="Enter description" name="description"><br><br>
<input type="number" class="col-xs-6 input" id="amount" placeholder="Amount" name="Amount"><br><br>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-danger btn-lg"  onclick="add()" >+ADD</button>
                  </div>
              </div>
              </div>
      </div>
<!-- Modal creste content-->
      <div id="myCreate" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3 class="alert alert-success well1">Create A New Group</h4>
                  </div>
                  <div class="modal-body">
                      <input type="text" class="col-xs-4 input" id="gName" placeholder="Group name" name="group name"><br><br>
<input type="text" class="col-xs-4 input" id="description" placeholder="description" name="description"><br><br>

                  </div>
                  <div class="modal-footer">
                      
                      <button type="button" class="btn btn-success btn-lg"  onclick="createGroup()" >Create</button>
                  </div>
              </div>
              </div>
      </div>
<!-- Modal join content-->
      <div id="myJoin" class="modal fade" role="dialog">
          <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h3 class="alert alert-info well1">Join Group</h4>
                  </div>
                  <div class="modal-body">
                      
<input type="text" class="col-xs-6 input" id="groupId" placeholder="enter Group ID" name="Group ID"><br><br>

                  </div>
                  <div class="modal-footer">
                    
                    <button type="button" class="btn btn-info btn-lg"  onclick="joinGroup()" >Join</button>
                  </div>
              </div>
              </div>
      </div>

      <!-- Modal member content-->
      <div id="myMember" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="alert alert-warning well1">Invite member</h4>
                </div>
                <div class="modal-body">
                    <input type="email " class="col-xs-6 input" id="emailI" placeholder="enter your email" name="email"><br><br>
<!-- <input type="text" class="col-xs-6 input" id="groupIdI" placeholder="groupID" name="groupID"><br><br> -->

                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-warning btn-lg"  onclick="inviteMem()" >Invite</button>
                </div>
            </div>
            </div>
    </div>

<!-- Modal settleUp-->
    <div id="settleUp" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="alert alert-danger well1">confirm settleUp</h3>
                </div>
                <div class="modal-body">
                    <h2>Press ON confirm button to settleUP </h2>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-md"  onclick="settleUp()" >OK ! confirm</button>
                </div>
            </div>
            </div>
    </div>


    <div id="delete" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="alert alert-danger well1">confirm settleUp</h3>
                </div>
                <div class="modal-body">
                    <h3>This will Delete the group and  all the group expenses</h3>
                    <h2>Press ON confirm button to settleUP </h2>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-md"  onclick="deleteGroup()" >OK ! confirm</button>
                </div>
            </div>
            </div>
    </div>

    <header>
      <nav class="navbar navbar-inverse ppp">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Riftsettler</a>
          </div>
          <ul class="nav navbar-nav navbar">
            <li><a href="personal.html">Personal</a></li>
            <li class="active">
                <a href="group1.html">Group</a>
              </li>
              
          </ul>
          <ul class="nav navbar-nav navbar-right">
              
            <li>
              <a onclick="logout()" class="pointer"><span class="glyphicon glyphicon-log-in"></span> Logout</a
              >
            </li>
           
          </ul>
          <div class="navbar-header  navbar-right">
              <a class="navbar-brand"id='userName' ></a>
            </div>
        </div>
      </nav>
      <!-------------------4 BLOCKS ------------------------------->
      <div class="container-fluid personal_h">
        <div class="col-sm-12 ">
           <!-------------------4 BLOCKS ------------------------------->
          <div class="col-sm-4 ">
            <div class="alert alert-warning well1">
              <h3>Group ID</h3>
              <br>
              <p id="group"></p>
            </div>
          </div>
           <!-------------------4 BLOCKS ------------------------------->
          <!-- <div class="col-sm-3 ">
            <div class="alert alert-warning well1">
              <h3>Total group expences</h3>
              <br />
              <p>1</p>
            </div>
          </div> -->
 <!-------------------4 BLOCKS ------------------------------->
          <div class="col-sm-4 ">
            <div class="alert alert-warning well1">
              <h3>MY Expenses</h3>
              <br />
              <p id="totalMyExpenses"></p>
            </div>
          </div>
          <div class="col-sm-4 ">
             <!-------------------4 BLOCKS ------------------------------->
              <div class="alert alert-warning well1">
                <h3>Total group expenses </h3>
                <br/>
                <p id="totalAmount"></p>
              </div>
            </div>
        </div>
      </div>
       <!-------------------BUTTON------------------------------->
      <div class="container-fluid" id="">
          <div class="col-sm-12 ">
            <div class="col-sm-7"></div>
            <div class="col-sm-5">
              <button type="submit" class="btn btn-danger btn-lg "data-toggle="modal" data-target="#myModal"> + ADD</button>
              <button type="submit" class="btn btn-primary btn-lg "data-toggle="modal" data-target="#settleUp">settle up</button>
              <button type="submit" class="btn btn-warning btn-lg "data-toggle="modal" data-target="#myMember">Invite member </button>
              <button type="submit" class="btn btn-success btn-lg "data-toggle="modal" data-target="#delete">Delete </button>
              

              
  </div>
</div>
  </div>

<div class="container-fluid personal_h">
        <div class="col-sm-12 ">
            <div class="col-sm-6 "> 
                <div class="well well1">
                    <h3>Expenses details</h3>
            </div>
            <div class="container-fluid" id="tableG-scroll" >
<table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>Expend BY</th>
        <th>Product description</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody id="ttbody">         
    </tbody>
  </table>
  </div>

 </div>

 <div class="col-sm-6 ">
        <div class="well well1">
            <h3>SettleUp History</h3>
    </div>
    <div class="container-fluid" id="tableGG-scroll" >
    <div class="col-sm-12 " id= "settleHistory" ></div>
    
    </div> 
    </div>

        </div>
</div>



    </header>
  </body>
</html>
